{% extends 'base.html' %}

{% block content %}

    <h1 class="text-3xl font-bold underline">Products List</h1>

    {% for product in products %}
    <a href="#" class="group relative block overflow-hidden" style="width: 300px; max-height: 400px; display: inline-block; margin: 10px; border: 1px solid #ccc; border-radius: 10px;">
        <button class="absolute end-4 top-4 z-10 rounded-full bg-white p-1.5 text-gray-900 transition hover:text-gray-900/75">
            <span class="sr-only">Wishlist</span>

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"></path>
            </svg>
        </button>

        {% if product.image %}
            <img src="{{ product.image.url }}" alt="" class="h-64 w-full object-cover transition duration-500 group-hover:scale-105 sm:h-72">
        {% endif %}

        <div class="relative border border-gray-100 bg-white p-6">
            <span class="bg-yellow-400 px-3 py-1.5 text-xs font-medium whitespace-nowrap"> New </span>

            <h3 class="mt-4 text-lg font-medium text-gray-900">{{ product.name }}</h3>
            <p class="mt-1.5 text-sm text-gray-700">{{ product.description }}</p>
            <p class="mt-1.5 text-sm text-gray-700">$ {{ product.price }}</p>

            <form class="mt-4">
            {% csrf_token %}
            {% comment ""  %}
            <button class="block w-full rounded-sm bg-yellow-400 p-4 text-sm font-medium transition hover:scale-105">
                Add to Cart
            </button>
            
            {% endcomment %}
            </form>
        </div>
    </a>
  

<div id="newvtPopupMenu"></div>
    {% endfor %}

    <!-- {% for product in products %}
    
<a href="#" class="flex flex-col items-center bg-neutral-primary-soft p-6 border border-default rounded-base shadow-xs md:flex-row md:max-w-xl md:flex-row md:max-w-xl p-4 m-4">
    {% if product.image %}
        <img class="object-cover w-full rounded-base h-64 md:h-auto md:w-48 mb-4 md:mb-0" src="{{ product.image.url }}" alt="">
    {% endif %}
    <div class="flex flex-col justify-between md:p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-heading">{{ product.name }}</h5>
        <p class="mb-6 text-body">{{ product.description }}</p>
        <p class="text-green-500 font-bold">Price: ${{ product.price }}</p>
        <div>
            <button type="button" class="inline-flex items-center w-auto text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
                View Product
                <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
            </button>
        </div>
    </div>
</a>

    {% endfor %} -->

{% endblock %}
